body {
  background-color: #f4eee2;
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  color: #474740;
  font-family: "Satisfy", cursive;
}

header {
  img {
    height: 30px;
  }
}
